@import "Theme";

/* -------------------------------------------------------------------------- */
/*                                     -                                      */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/*                                    BLOG                                    */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/*                                      -                                     */
/* -------------------------------------------------------------------------- */

.Blog {
  padding: 22px 60px 50px;

  .title {
    font-weight: bold;
    font-size: 20px;
  }

  .heading {
    display: flex;
    margin: 46px 0 23px;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
  }

  .greetingParent {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .greeting {
    font-weight: bold;
    font-size: 24px;
    color: $black300;
  }

  .view {
    color: $primary;
    font-size: 14px;
    font-weight: bold;
  }

  .search {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;

    input {
      width: 80%;
      max-width: 500px;
      background-color: white;
      border: 2px solid $primary;
      border-radius: 15px 0 0 15px;
      color: #055c9d;
      padding: 5px 10px;
      accent-color: $primary !important;
      align-self: center;
      transition: all 0.8s;
    }

    button {
      background-color: #0e86d4;
      color: white;
      border: 2px solid #0e86d4;
      border-radius: 0 15px 15px 0;
      padding: 5px;
    }
  }
}
