@import "Theme";

/* -------------------------------------------------------------------------- */
/*                                     -0                                     */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/*                                   COURSES                                  */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/*                                      -                                     */
/* -------------------------------------------------------------------------- */

.Courses {
  padding: 22px 60px 50px;

  .title {
    font-weight: bold;
    font-size: 20px;
  }

  .heading {
    display: flex;
    margin: 46px 0 23px;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
  }

  .greetingParent {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .greeting {
    font-weight: bold;
    font-size: 24px;
    color: $black300;
  }

  .view {
    color: $primary;
    font-size: 14px;
    font-weight: bold;
  }
}

/* -------------------------------------------------------------------------- */
/*                                      -                                     */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/*                                 COURSE CARD                                */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/*                                      -                                     */
/* -------------------------------------------------------------------------- */

.CourseCard {
  width: 150px;
  background-color: #055c9d;
  color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px 20px;
  filter: drop-shadow(3px 3px 3px black);
  margin-top: 50px;

  &:hover {
    filter: drop-shadow(0 0 2px black);
  }

  .author {
    margin: 20px 0 5px;
  }

  .duration {
    font-size: 13px;
  }
}
