@import "Theme";

/* -------------------------------------------------------------------------- */
/*                                     -                                      */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/*                                NOTIFICATIONS                               */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/*                                      -                                     */
/* -------------------------------------------------------------------------- */

.Notifications {
  padding: 22px 60px 50px;

  .title {
    font-weight: bold;
    font-size: 20px;
  }

  .heading {
    display: flex;
    margin: 46px 0 23px;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
  }

  .greetingParent {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .greeting {
    font-weight: bold;
    font-size: 24px;
    color: $black300;
  }

  .view {
    color: $primary;
    font-size: 14px;
    font-weight: bold;
  }

  .section {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
}

/* -------------------------------------------------------------------------- */
/*                                      -                                     */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/*                              NOTIFICATION CARD                             */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/*                                      -                                     */
/* -------------------------------------------------------------------------- */

.NotificationsCard {
  background-color: #0e86d4;
  color: white;
  font-size: 18px;
  border-radius: 5px;
  padding: 10px;

  &:hover {
    background-color: #0c71b4;
  }
}
