@import "Theme";

/* -------------------------------------------------------------------------- */
/*                                     -                                      */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/*                                    SAVED                                   */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/*                                      -                                     */
/* -------------------------------------------------------------------------- */

.Saved {
  padding: 22px 60px 50px;

  .title {
    font-weight: bold;
    font-size: 20px;
  }

  .heading {
    display: flex;
    margin: 46px 0 23px;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
  }

  .greetingParent {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .greeting {
    font-weight: bold;
    font-size: 24px;
    color: $black300;
  }

  .view {
    color: $primary;
    font-size: 14px;
    font-weight: bold;
  }

  .saved {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
  }
}

/* -------------------------------------------------------------------------- */
/*                                      -                                     */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/*                                 SAVED CARD                                 */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/*                                      -                                     */
/* -------------------------------------------------------------------------- */

.SavedCard {
  min-height: 100px;
  width: 150px;
  background-color: #055c9d;
  color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px 20px;
  filter: drop-shadow(0 0 2px black);
  margin-top: 50px;
  scale: 1.1;

  &:hover {
    filter: drop-shadow(0px 0px 3px black);
    scale: 1.05;
  }

  .author {
    margin: 20px 0 5px;
  }
  .tags {
    display: flex;
    flex-direction: row;
    gap: 5px;

    .tag {
      width: fit-content;
      background-color: #0e86d4;
      font-size: 15px;
      padding: 0px 7px;
      border-radius: 8px;
    }
  }
}
